@media (min-width: 800px) {
	/******************* MASTER SETUP *********************/
	html,
	body {
		height: 100%;
		width: 100%;
		overflow: hidden;
	}

	/* hide mobile's menu button */
	.menu-button-container {
		position: absolute;
		visibility: hidden;
	}

	/* setup for body */
	body {
		padding: 0;
		margin: 0;
		font-family: "SitkaSmall_italic1";
	}

	/***************************************************/
	/******************* NAVBAR DESIGN *********************/
	/***************************************************/

	.navbar {
		/* background-color: rgba(22, 22, 100, 0.527); */
		display: grid;
		justify-content: center;
		height: 70px;
	}

	.navbar > ul {
		display: grid;
		padding-left: 0;
		grid-auto-flow: column;
		list-style: none;
		justify-content: center;
		align-items: center;
		grid-auto-columns: max-content;
	}

	.navbar > ul > li {
		font-family: "SitkaSmall_italic1";
		font-size: 1.5em;
		color: rgb(253, 253, 253);
		font-weight: 900;

		margin: 0 10px 0px 10px;
		padding: 5px 10px 5px 10px;
		justify-content: center;
		align-items: center;
		list-style: none;
		transition: ease 0.2s;
		cursor: pointer;
	}

	.navbar > ul > li:hover {
		margin: 0 20px 0 20px;
		color: rgb(216, 207, 80);
	}

	.navbar > ul > .li-active {
		color: rgb(216, 207, 80) !important;
	}

	.design-line {
		justify-self: center;
		border: 1px solid rgb(255, 255, 255);
		width: 100%;
	}

	/***************************************************/
	/******************* MAIN PAGE CONTENT *********************/
	/***************************************************/

	.background-container {
		z-index: -10;
		position: absolute;

		background-image: url("./../res/bg5.png");
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		height: 650px;
		min-width: 1500px;
		min-height: 300px;
		overflow: hidden;
		background-size: 100% 800px;

		transform: translateY(-10px);
	}

	.background-container > img {
		width: 100%;
		transform: translateY(-10px);
		filter: brightness(0.8);
	}

	.bg-container2 {
		z-index: -11;
		position: absolute;

		overflow-y: scroll;
		display: inline;
		flex-direction: row-reverse;

		bottom: 0;
		right: 0;
		overflow: hidden;
	}

	.bg-container2 > img {
		float: left;
		height: 300px;
	}

	.mainpage-container {
		background-color: rgba(240, 248, 255, 0.199);
		width: 100%;
		display: grid;
		height: calc(100% - 70px);
		min-height: fit-content;
	}

	.mainpage-body {
		justify-content: center;
		display: grid;
		grid-template-columns: repeat(2, 50%);
		align-items: center;
		width: 100%;
	}

	.mainpage-ot-logo {
		display: flex;
		height: 100%;
		width: 100%;
		flex-direction: column-reverse;
		justify-content: center;

		align-items: center;
		animation: 1s ease-out 0s 1 slideFromBottom;
	}

	.mainpage-ot-logo > img {
		float: right;
		width: 60vh;
	}

	/* timer */

	.timer-container {
		display: flex;
		height: 100%;
		width: 100%;
		flex-direction: column-reverse;
		justify-content: center;

		align-items: center;
		text-align: center;

		animation: 1s ease-out 0s 1 slideFromTop;
	}

	.timer-heading {
		font-size: 4em;
		color: #204486;
		font-weight: bolder;
	}

	.mainpage-remaining-time {
		font-weight: 700;
		font-size: 450%;

		color: #d1a431;
		flex-direction: column;
		text-align: center;
	}

	/*********************************************/
	/**************** BOOKMARK'S CONTENT ********************/
	/*********************************************/

	.content-container {
		display: grid;

		height: calc(100% - 70px);
		background-color: rgba(240, 248, 255, 0.199);
		width: 100%;

		background-image: url(./../res/circlever_wbg.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 1200px;

		justify-content: center;
		justify-self: center;
		align-items: center;
	}

	/*ABOUT*/
	.about-content {
	}

	/* GIFTS */
	.gifts-content {
	}

	/* CLAIM */
	.claim-content {
	}

	/*PROGRAM*/
	.program-content {
		display: flex;
		flex-direction: column;
		align-items: center;

		padding-top: 20px;
		padding-bottom: 20px;
		/* width: fit-content; */
		width: 100vw;
		height: inherit;

		overflow-x: hidden;
		overflow-y: scroll;

		font-family: "SitkaSmall_italic1";
	}

	.program-content::-webkit-scrollbar {
		/* color: red; */
		display: none;
	}

	.program-header {
		color: #d1a926;
		font-size: 450%;
		margin-bottom: 40px;
		font-weight: 600;
	}

	.program-content > li {
		margin: 20px 0px 10px 0px;
		list-style: none;
		display: grid;
		grid-template-columns: 50vw 50vw;
		text-decoration: none;
		color: #3b3685;
		font-weight: 900;
		font-size: 2em;
	}

	.program-time {
		text-align: right;
		padding-right: 40px;
	}

	.divider {
		justify-content: center;
	}

	.divider > img {
		width: 300px;
	}
}
