@media (min-width: 1080px) {
	/******************* MASTER SETUP *********************/
	html,
	body {
		height: 100%;
		width: 100%;
		overflow: hidden;
	}

	/* hide mobile's menu button */
	.menu-button-container {
		position: absolute;
		visibility: hidden;
	}

	/* setup for body */
	body {
		padding: 0;
		margin: 0;
		font-family: "SitkaSmall_italic1";
	}

	/***************************************************/
	/******************* NAVBAR DESIGN *********************/
	/***************************************************/

	.navbar {
		/* background-color: rgba(22, 22, 100, 0.527); */
		display: grid;
		justify-content: center;
		height: 70px;
	}

	.navbar > ul {
		display: grid;
		padding-left: 0;
		grid-auto-flow: column;
		list-style: none;
		justify-content: center;
		align-items: center;
		grid-auto-columns: max-content;
	}

	.navbar > ul > li {
		font-family: "SitkaSmall_italic1";
		font-size: 1.5em;
		color: rgb(253, 253, 253);
		font-weight: 900;

		margin: 0 10px 0px 10px;
		padding: 5px 10px 5px 10px;
		justify-content: center;
		align-items: center;
		list-style: none;
		transition: ease 0.2s;
		cursor: pointer;
	}

	.navbar > ul > li:hover {
		margin: 0 20px 0 20px;
		color: rgb(216, 207, 80);
	}

	.navbar > ul > .li-active {
		color: rgb(216, 207, 80) !important;
	}

	.design-line {
		justify-self: center;
		border: 1px solid rgb(255, 255, 255);
		width: 100%;
	}

	/***************************************************/
	/******************* MAIN PAGE CONTENT *********************/
	/***************************************************/

	.background-container {
		z-index: -10;
		position: absolute;

		background-image: url("./../res/bg5.png");
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		height: 650px;
		min-width: 1500px;
		min-height: 300px;
		overflow: hidden;
		background-size: 100% 800px;

		transform: translateY(-10px);
	}

	.background-container > img {
		width: 100%;
		transform: translateY(-10px);
		filter: brightness(0.8);
	}

	.bg-container2 {
		z-index: -11;
		position: absolute;

		overflow-y: scroll;
		display: inline;
		flex-direction: row-reverse;

		bottom: 0;
		right: 0;
		overflow: hidden;
	}

	.bg-container2 > img {
		float: left;
		height: 300px;
	}

	.mainpage-container {
		background-color: rgba(240, 248, 255, 0.199);
		width: 100%;
		display: grid;
		height: calc(100% - 70px);
		min-height: fit-content;
	}

	.mainpage-body {
		justify-content: center;
		display: grid;
		grid-template-columns: repeat(2, 50%);
		align-items: center;
		width: 100%;
	}

	.mainpage-ot-logo {
		display: flex;
		height: 100%;
		width: 100%;
		flex-direction: column-reverse;
		justify-content: center;

		align-items: center;
		animation: 1s ease-out 0s 1 slideFromBottom;
	}

	.mainpage-ot-logo > img {
		float: right;
		width: 60vh;
	}

	/* timer */

	.timer-container {
		display: flex;
		height: 100%;
		width: 100%;
		flex-direction: column-reverse;
		justify-content: center;

		align-items: center;
		text-align: center;

		animation: 1s ease-out 0s 1 slideFromTop;
	}

	.timer-heading {
		font-size: 4em;
		color: #204486;
		font-weight: bolder;
	}

	.mainpage-remaining-time {
		font-weight: 700;
		font-size: 450%;

		color: #d1a431;
		flex-direction: column;
		text-align: center;
	}

	/*********************************************/
	/**************** BOOKMARK'S CONTENT ********************/
	/*********************************************/

	.content-container {
		display: grid;

		height: calc(100% - 70px);
		background-color: rgba(240, 248, 255, 0.199);
		width: 100%;

		background-image: url(./../res/circlever_wbg.png);
		background-position: center;
		background-repeat: no-repeat;
		/* background-size: 1200px; */
		background-size: 100vh;

		justify-content: center;
		justify-self: center;
		align-items: center;
	}

	/* REGISTER POPUP */
	.register-popup-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: rgba(163, 160, 157, 0.201);

		display: grid;
		justify-content: center;
		align-items: center;
	}

	@keyframes showPopup {
		0% {
			transform: translateY(-50vh);
			opacity: 0%;
		}
		50% {
			transform: translateY(0);
		}
		100% {
			opacity: 100%;
		}
	}

	.register-popup-bg {
		display: grid;
		width: 50vw;
		max-width: 700px;
		padding: 10px;
		height: 200px;
		background-color: #204486;
		overflow: hidden;
		border-radius: 15px;
		animation: ease-in 1s 1 showPopup;
	}

	.register-text {
		text-align: center;
		font-family: "Sitkasmall_italic1";
		font-size: 200%;
		color: white;
		display: grid;
		justify-self: center;
		padding-top: 5px;
	}
	.register-popup-bg > input[type="button"] {
		border-radius: 10px;
		margin: 5px 10px 5px 10px;
		cursor: pointer;
		color: white;
		font-weight: 900;
		font-size: 120%;
		font-family: "Sitkasmall_italic1";
	}
	.register-popup-bg > input[type="button"]:nth-child(2) {
		background-color: rgb(125, 94, 161);
	}
	.register-popup-bg > input[type="button"]:nth-child(2):hover {
		background-color: rgb(124, 70, 186);
		transition: ease-out 0.1s;
	}

	.register-popup-bg > input[type="button"]:last-child {
		background-color: rgba(120, 126, 166, 0.435);
	}
	.register-popup-bg > input[type="button"]:last-child:hover {
		background-color: rgba(84, 92, 146, 0.435);
		transition: ease-out 0.1s;
	}

	/* ABOUT */
	.about-bookmark {
		margin-top: 100px;
		/* margin-bottom: 100px; */
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100vw;
		overflow-y: scroll;
		align-items: center;
	}
	.about-header {
		background-color: rgba(89, 45, 106, 0.484);
		width: fit-content;
		align-self: center;
		border-radius: 50px;
		padding: 5px 20px 5px 20px;

		color: #d1a926;
		font-size: 450%;
		margin-top: 20px;
		font-weight: 600;
		text-align: center;
	}
	.about-content {
		display: flex;
		flex-direction: column;
		align-items: center;

		padding-top: 20px;
		padding-bottom: 20px;
		/* margin-left: 20%; */
		/* width: fit-content; */

		/* background-color: #204486; */

		width: 60%;
		height: inherit;

		overflow-x: hidden;
		overflow-y: scroll;

		font-family: "SitkaSmall_italic1";
	}
	.about-content::-webkit-scrollbar {
		/* color: red; */
		display: none;
	}

	.radio-container {
		justify-self: baseline;
	}

	.answer-buttons-box {
		width: 100%;
		display: grid;
		/* display: flex; */
		/*flex-direction: column;
		justify-content: baseline;
		justify-items: baseline;
		align-items: baseline;
		align-content: flex-start; */
	}
	.question {
		display: grid;
		text-align: center;
	}

	/* GIFTS */
	.gifts-bookmark {
		margin-top: 100px;
		align-items: center;
		justify-content: center;
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100vw;
		overflow-y: scroll;
	}
	.gifts-header {
		background-color: rgba(89, 45, 106, 0.484);
		width: fit-content;
		align-self: center;
		border-radius: 50px;
		padding: 5px 20px 5px 20px;

		color: #d1a926;
		font-size: 450%;
		margin-top: 20px;
		/* margin-bottom: 20px; */
		font-weight: 600;
		text-align: center;
	}
	.gifts-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

		padding-top: 20px;
		padding-bottom: 20px;
		/* width: fit-content; */
		width: 40vw;
		height: inherit;

		overflow-x: hidden;
		overflow-y: scroll;

		font-family: "SitkaSmall_italic1";
		font-size: 200%;
	}
	.gifts-content::-webkit-scrollbar {
		/* color: red; */
		display: none;
	}

	.gifts-link > a {
		display: flex;
		font-size: 20px;
		background-color: #d1a43194;
		padding: 5px 20px 5px 20px;
		border-radius: 15px;
		text-decoration: none;
		color: black;
		font-size: 100%;
		/* font-family: Arial, Helvetica, sans-serif; */
	}
	.gifts-link img {
		width: 20px;
		margin-right: 10px;
	}

	/* CLAIM */
	.claim-bookmark {
		margin-top: 100px;
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100vw;
		overflow-y: scroll;
	}
	.claim-header {
		background-color: rgba(89, 45, 106, 0.484);
		width: fit-content;
		align-self: center;
		border-radius: 50px;
		padding: 5px 20px 5px 20px;

		color: #d1a926;
		font-size: 450%;
		margin-top: 20px;
		/* margin-bottom: 40px; */
		font-weight: 600;
		text-align: center;
	}
	.claim-content {
		display: flex;
		flex-direction: column;
		align-items: center;

		padding-top: 20px;
		padding-bottom: 20px;
		/* width: fit-content; */
		width: 100vw;
		height: inherit;

		overflow-x: hidden;
		overflow-y: scroll;

		font-family: "SitkaSmall_italic1";
	}
	.claim-content::-webkit-scrollbar {
		/* color: red; */
		display: none;
	}

	.claim-content > .content-text {
		font-size: 150%;
		text-align: center;
		width: 600px;
		color: #45484d;
		font-weight: 900;
	}

	/* suplement for radio button box from question cards, which is used here */
	.form-field > .radio-container {
		margin-bottom: 0px;
		font-size: 70%;
	}
	.form-field > label {
		margin-right: 10px;
	}
	.form-field {
		margin: 10px;
		font-size: 200%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.form-field > input[type="text"] {
		font-size: 100%;
		border: 0px;
		background-color: unset;
		border-bottom: 2px solid #3b3685;
		outline: unset;
	}
	.form-field > input:focus {
		border-bottom: 2px solid #e6c439;
	}

	.submit-btn-container {
		margin-top: 70px;
		display: grid;
		justify-content: center;
		align-content: center;
	}
	.submit-btn-container > .submit-btn {
		width: 300px;
		height: 40px;
		background-color: unset;
		border: 2px solid #3b3685;
		cursor: pointer;

		font-family: "Sitkasmall_italic1";
		font-size: 20px;
		font-weight: 900;
		color: #3b3685;

		text-align: center;
		vertical-align: middle;
		/* center the text */
		padding-top: 5px;
	}
	.submit-btn:hover {
		background-color: #204486;
		color: white;
	}

	/* PROGRAM */
	.program-bookmark {
		margin-top: 100px;
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100vw;
		overflow-y: scroll;
	}
	.program-header {
		background-color: rgba(89, 45, 106, 0.484);
		width: fit-content;
		align-self: center;
		border-radius: 50px;
		padding: 5px 20px 5px 20px;

		color: #d1a926;
		font-size: 450%;
		margin-top: 20px;
		/* margin-bottom: 40px; */
		font-weight: 600;
		text-align: center;
	}
	.program-content {
		display: flex;
		flex-direction: column;
		align-items: center;

		padding-top: 20px;
		margin-bottom: 60px;
		/* width: fit-content; */
		width: 100vw;
		height: inherit;

		overflow-x: hidden;
		overflow-y: scroll;

		font-family: "SitkaSmall_italic1";
	}
	.program-content::-webkit-scrollbar {
		/* color: red; */
		display: none;
	}

	.program-content > li {
		margin: 20px 0px 10px 0px;
		list-style: none;
		display: grid;
		grid-template-columns: 50vw 50vw;
		text-decoration: none;
		color: #3b3685;
		font-weight: 900;
		font-size: 2em;
	}

	.program-time {
		text-align: right;
		padding-right: 40px;
	}

	.program-part {
		max-width: 400px;
	}

	.divider {
		justify-content: center;
	}

	.divider > img {
		width: 300px;
	}
}
