.background-for-landscape {
	display: none;
}

@media (min-width: 1080px) {
	/******************* MASTER SETUP *********************/
	html,
	body {
		height: 100%;
		width: 100%;
		overflow: hidden;
	}

	/* hide mobile's menu button */
	.menu-button-container {
		position: absolute;
		visibility: hidden;
	}

	/* setup for body */
	body {
		padding: 0;
		margin: 0;
		font-family: "SitkaSmall_italic1";
	}

	/***************************************************/
	/******************* NAVBAR DESIGN *********************/
	/***************************************************/

	.navbar {
		/* background-color: rgba(22, 22, 100, 0.527); */
		display: grid;
		justify-content: center;
		height: 70px;
	}

	.navbar > ul {
		display: grid;
		padding-left: 0;
		grid-auto-flow: column;
		list-style: none;
		justify-content: center;
		align-items: center;
		grid-auto-columns: max-content;
	}

	.navbar > ul > li {
		font-family: "SitkaSmall_italic1";
		font-size: 1.5em;
		color: rgb(253, 253, 253);
		font-weight: 900;

		margin: 0 10px 0px 10px;
		padding: 5px 10px 5px 10px;
		justify-content: center;
		align-items: center;
		list-style: none;
		transition: ease 0.2s;
		cursor: pointer;
	}

	.navbar > ul > li:hover {
		margin: 0 20px 0 20px;
		color: rgb(216, 207, 80);
	}

	.navbar > ul > .li-active {
		color: rgb(216, 207, 80) !important;
	}

	.design-line {
		justify-self: center;
		border: 1px solid rgb(255, 255, 255);
		width: 100%;
	}

	/***************************************************/
	/******************* MAIN PAGE CONTENT *********************/
	/***************************************************/

	.background-container {
		z-index: -10;
		position: absolute;

		background-image: url("./../res/bg5.png");
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		height: 650px;
		min-width: 1500px;
		min-height: 300px;
		overflow: hidden;
		background-size: 100% 800px;

		transform: translateY(-10px);
	}

	.background-container > img {
		width: 100%;
		transform: translateY(-10px);
		filter: brightness(0.8);
	}

	.bg-container2 {
		z-index: -11;
		position: absolute;

		overflow-y: scroll;
		display: inline;
		flex-direction: row-reverse;

		bottom: 0;
		right: 0;
		overflow: hidden;
	}

	.bg-container2 > img {
		float: left;
		height: 300px;
	}

	.mainpage-container {
		background-color: rgba(240, 248, 255, 0.199);
		width: 100%;
		display: grid;
		height: calc(100% - 70px);
		min-height: fit-content;
		margin-top: 5px;
	}

	.mainpage-body {
		justify-content: center;
		display: grid;
		grid-template-columns: repeat(2, 50%);
		align-items: center;
		width: 100%;
	}

	.mainpage-ot-logo {
		display: flex;
		height: 100%;
		width: 100%;
		flex-direction: column-reverse;
		justify-content: center;

		align-items: center;
		animation: 1s ease-out 0s 1 slideFromBottom;
	}

	.mainpage-ot-logo > img {
		float: right;
		width: 60vh;
	}

	/* timer */

	.timer-container {
		display: flex;
		height: 100%;
		width: 100%;
		flex-direction: column-reverse;
		justify-content: center;

		align-items: center;
		text-align: center;

		animation: 1s ease-out 0s 1 slideFromTop;
	}

	.timer-heading {
		font-size: 4em;
		color: #204486;
		font-weight: bolder;
	}

	.mainpage-remaining-time {
		font-weight: 700;
		font-size: 450%;

		color: #d1a431;
		flex-direction: column;
		text-align: center;
	}

	/*********************************************/
	/**************** BOOKMARK'S CONTENT ********************/
	/*********************************************/

	.content-container {
		display: grid;

		height: calc(100% - 70px);
		background-color: rgba(240, 248, 255, 0.199);
		width: 100%;

		margin-top: 5px;

		background-image: url(./../res/circlever_wbg.png);
		/*background-position: center;*/
		background-repeat: no-repeat;
		/*background-attachment: fixed;*/
		background-position: center;
		/*background-size: auto 100%;*/

		/* background-size: 1200px; */
		background-size: 100vh;

		justify-content: center;
		justify-self: center;
		align-items: center;
	}

	/* REGISTER SENT OK POPUP */
	.claim-sent-ok {
		/* this is for centering, not best but working ... */
		left: calc(50vw - 250px);
		position: absolute;
		margin-top: 20px;
		width: 500px;
		height: 90px;
		border-radius: 20px;

		background-color: #204486;

		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		vertical-align: middle;

		font-size: 200%;
		color: white;
		transform: translateY(-50vh);
		transition: ease 0.5s;
	}
	.claim-sent-ok > img {
		margin-right: 20px;
	}

	/* REGISTER POPUP */
	.register-popup-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: rgba(163, 160, 157, 0.201);

		display: grid;
		justify-content: center;
		align-items: center;
	}

	@keyframes showPopup {
		0% {
			transform: translateY(-50vh);
			opacity: 0%;
		}
		50% {
			transform: translateY(0);
		}
		100% {
			opacity: 100%;
		}
	}

	.register-popup-bg {
		display: grid;
		width: 50vw;
		max-width: 700px;
		padding: 10px;
		height: 200px;
		background-color: #204486;
		overflow: hidden;
		border-radius: 15px;
		animation: ease-in 1s 1 showPopup;
	}

	.register-text {
		text-align: center;
		font-family: "Sitkasmall_italic1";
		font-size: 200%;
		color: white;
		display: grid;
		justify-self: center;
		padding-top: 5px;
	}
	.register-popup-bg > input[type="button"] {
		border-radius: 10px;
		margin: 5px 10px 5px 10px;
		cursor: pointer;
		color: white;
		font-weight: 900;
		font-size: 120%;
		font-family: "Sitkasmall_italic1";
	}
	.register-popup-bg > input[type="button"]:nth-child(2) {
		background-color: rgb(125, 94, 161);
	}
	.register-popup-bg > input[type="button"]:nth-child(2):hover {
		background-color: rgb(124, 70, 186);
		transition: ease-out 0.1s;
	}

	.register-popup-bg > input[type="button"]:last-child {
		background-color: rgba(120, 126, 166, 0.435);
	}
	.register-popup-bg > input[type="button"]:last-child:hover {
		background-color: rgba(84, 92, 146, 0.435);
		transition: ease-out 0.1s;
	}

	/* INFO */
	.info-bookmark {
		/* margin-top: 50px; */
		/* display: flex;
		flex-direction: column;
		height: 100%;
		width: 100vw;
		overflow-y: scroll;
		align-items: center; */

		display: flex;
		flex-direction: column;
		align-items: center;

		position: center;

		overflow-x: hidden;
		overflow-y: scroll;
		align-items: center;
		border-radius: 50%;
		height: 88vh;
		width: 88vh;
	}
	.info-bookmark::-webkit-scrollbar {
		/* color: red; */
		display: none;
	}
	.info-header {
		margin-top: 3%;
	}
	.info-content {
		/* display: flex;
		flex-direction: column;
		align-items: center;


		padding-top: 30px;
		padding-bottom: 120px;
		border-top-left-radius: 300px;
		border-top-right-radius: 300px;
		border-bottom-left-radius: 450px;
		border-bottom-right-radius: 450px;
		max-width: 800px;
		width: 70%;
		height: inherit;

		overflow-x: hidden;
		overflow-y: scroll;

		font-family: "SitkaSmall_italic1"; */

		display: flex;
		flex-direction: column;
		align-items: center;

		padding-top: 10%;
		padding-bottom: 15%;

		/* height: 88vh; */
		width: 80vh;
		height: inherit;

		overflow-x: hidden;
		overflow-y: scroll;

		font-family: "SitkaSmall_italic1";
		/* border-style:solid; */
	}
	.info-content::-webkit-scrollbar {
		/* color: red; */
		display: none;
	}

	.info-navbar {
		margin-top: 15%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-bottom: 4%;
	}
	.info-navbar > input[type="button"] {
		transition: ease-out 0.2s;
		background-color: #1c325a;
		color: white;
		border-radius: 10px;
		padding: 5px 20px 5px 20px;
		margin-top: 10px;
		font-size: 200%;
		border: none;
		font-weight: bold;
		font-family: "Sitkasmall_italic1";
		cursor: pointer;
		margin: 0 15px 0 15px;
	}
	.info-navbar > input[type="button"]:hover {
		background-color: #496394;
	}
	.info-navbar > .btn-active {
		background-color: #d1a431 !important;
	}

	.info-text-container {
		margin: 0px 30px 30px 30px;
		/* padding-bottom: 25%; */
		display: grid;
		text-align: center;
		align-items: center;
		justify-content: center;
		/* background-color: #496394; */
		width: inherit;
		/* max-width: 80vw; */
		/* width: 80vh; */
		/* height: 70%; */

		font-size: 200%;
	}

	.info-text-container > ul {
		margin: 0;
		padding: 0;

		padding-inline-start: 0px;
	}
	.info-text-container li {
		list-style: none;
	}
	.info-text-container li:first-child {
		margin-bottom: 4%;
	}

	.info-text-container .info-heading {
		font-weight: 900;
	}
	.info-text-container .info-text {
	}

	/* ABOUT */
	.about-bookmark {
		/* position: bottom; */
		/*margin-top: 5px;*/
		/* margin-bottom: 100px; */
		/* height: 100%;
		width: 100vw;
		overflow-x:hidden;
		overflow-y: scroll; */
		/*margin: 14%;*/
		/* border-style: solid; */

		display: flex;
		flex-direction: column;
		align-items: center;

		position: center;

		overflow-x: hidden;
		overflow-y: scroll;
		align-items: center;
		border-radius: 50%;
		height: 88vh;
		width: 88vh;
	}
	.about-bookmark::-webkit-scrollbar {
		/* color: red; */
		display: none;
	}
	.about-header {
		background-color: rgba(89, 45, 106, 0.484);
		width: fit-content;
		align-self: center;
		border-radius: 50px;
		padding: 5px 20px 5px 20px;

		color: #d1a926;
		font-size: 450%;
		margin-top: 20px;
		font-weight: 600;
		text-align: center;

		display: none;
	}
	.about-content {
		/* padding-top: 20px; */
		/*margin-bottom: 2%;
		margin-top: 2%;*/
		/* margin: 1%; */

		/* background-color: #204486; */
		/* border-radius: 50%; */
		/*border-top-left-radius: 300px;
		border-top-right-radius: 300px;
		border-bottom-left-radius: 450px;
		border-bottom-right-radius: 450px;*/
		/*max-width: 800px;
		width: 60%;*/
		/*width: inherit;
		height: inherit;*/
		/*size: auto 90%;*/
		/*height: 90%;*/
		/*aspect-ratio: 1 / 1;*/

		/* border-style: solid; */
		/*position: center;*/

		display: flex;
		flex-direction: column;
		align-items: center;

		padding-top: 10%;
		padding-bottom: 15%;

		height: 88vh;
		width: 80vh;
		max-width: 80vw;

		overflow-x: hidden;
		overflow-y: scroll;

		font-family: "SitkaSmall_italic1";
	}
	.about-content::-webkit-scrollbar {
		/* color: red; */
		display: none;
	}
	.about-content > .content-text {
		font-size: 180%;
		text-align: center;
		width: 450px;
		/* color: #45484d; */
		font-weight: 900;

		padding-bottom: 10px;
	}

	.radio-container {
		justify-self: baseline;
	}
	.answer-buttons-box {
		width: 80%;
		display: grid;
		position: relative;
		margin-left: 100px;
	}
	.question {
		display: grid;
		text-align: center;
	}

	/* GIFTS */
	.gifts-bookmark {
		display: flex;
		flex-direction: column;
		align-items: center;

		position: center;

		overflow-x: hidden;
		overflow-y: scroll;
		align-items: center;
		border-radius: 50%;
		height: 88vh;
		width: 88vh;

		/* margin-top: 100px;
		align-items: center;*/
		justify-content: center;
		/* display: flex;
		flex-direction: column;
		height: 100%;
		width: 100vw;
		overflow-y: scroll; */
	}
	.gifts-bookmark::-webkit-scrollbar {
		/* color: red; */
		display: none;
	}
	.gifts-header {
		background-color: rgba(89, 45, 106, 0.484);
		width: fit-content;
		align-self: center;
		border-radius: 50px;
		padding: 5px 20px 5px 20px;

		color: #d1a926;
		font-size: 450%;
		margin-top: 20px;
		/* margin-bottom: 20px; */
		font-weight: 600;
		text-align: center;
		display: none;
	}
	.gifts-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;

		padding-top: 10%;
		padding-bottom: 15%;

		height: 88vh;
		width: 80vh;
		max-width: 80vw;

		overflow-x: hidden;
		overflow-y: scroll;

		font-family: "SitkaSmall_italic1";

		/* display: flex;
		flex-direction: column;
		align-items: center; */
		/* text-align: center; */

		/* padding-top: 20px;
		padding-bottom: 20px;
		margin-bottom: 10%; */
		/* width: fit-content; */
		/* width: 40vw;
		max-width: 500px;
		height: inherit; */

		/* overflow-x: hidden;
		overflow-y: scroll;

		font-family: "SitkaSmall_italic1"; */
		font-size: 200%;
	}
	.gifts-content::-webkit-scrollbar {
		/* color: red; */
		display: none;
	}

	.gifts-link > a {
		display: flex;
		font-size: 20px;
		background-color: #d1a43194;
		padding: 5px 20px 5px 20px;
		border-radius: 15px;
		text-decoration: none;
		color: black;
		font-size: 100%;
		/* font-family: Arial, Helvetica, sans-serif; */
	}
	.gifts-link img {
		max-height: 40px;
		margin-right: 10px;
	}
	.gifts-content > .cite {
		margin: 20px;
		font-size: 60%;
		color: grey;
	}

	/* CLAIM */
	.claim-bookmark {
		display: flex;
		flex-direction: column;
		align-items: center;

		position: center;

		overflow-x: hidden;
		overflow-y: scroll;
		align-items: center;
		border-radius: 50%;
		height: 88vh;
		width: 88vh;
	}
	.claim-bookmark::-webkit-scrollbar {
		/* color: red; */
		display: none;
	}
	.claim-header {
		color: #d1a926;
		font-size: 450%;
		margin-top: 20px;
		/* margin-bottom: 20px; */
		font-weight: 600;
		text-align: center;
		display: none;
	}
	.claim-content {
		display: flex;
		flex-direction: column;
		align-items: center;

		padding-top: 4%;
		padding-bottom: 4%;

		height: 88vh;
		width: 80vh;
		max-width: 80vw;

		overflow-x: hidden;
		overflow-y: scroll;

		font-family: "SitkaSmall_italic1";
	}
	.claim-content::-webkit-scrollbar {
		display: none;
	}
	.claim-content > .content-text {
		font-size: 180%;
		text-align: center;
		width: 450px;
		font-weight: 900;

		padding-bottom: 10px;
	}

	/* suplement for radio button box from question cards, which is used here */
	.form-field > .radio-container {
		margin-bottom: 0px;
		font-size: 70%;
	}
	.form-field > label {
		margin-right: 10px;
		font-size: 25px;
		/* font-weight: 900; */
	}
	.form-field {
		margin: 10px;
		font-size: 200%;
		display: flex;
		flex-direction: column;
		justify-content: left;
		align-items: start;
	}

	.form-field > input[type="text"] {
		font-size: 70%;
		font-family: "Sitkasmall_italic1";
		border: 0px;
		width: 80vw;
		max-width: 500px;
		text-align: left;
		border-radius: 10px;
		padding: 5px;
		background-color: rgb(255, 255, 255);
		border: 2px solid #3b3685;
		outline: unset;
	}
	.form-field > input:focus {
		border-bottom: 3px solid #e6c439;
	}

	.submit-btn-container {
		margin-top: 20px;
		display: grid;
		justify-content: center;
		align-content: center;
	}
	.submit-btn-container > .submit-btn {
		transition: ease-out 0.2s;
		background-color: #1c325a;
		color: white;
		border-radius: 10px;
		padding: 5px 20px 5px 20px;
		margin-top: 10px;
		font-size: 200%;
		border: none;
		font-weight: bold;
		font-family: "Sitkasmall_italic1";
		cursor: pointer;
	}
	.submit-btn:hover {
		background-color: #496394;
		color: white;
	}

	/* PROGRAM */
	.program-bookmark {
		display: flex;
		flex-direction: column;
		align-items: center;

		position: center;

		overflow-x: hidden;
		overflow-y: scroll;
		align-items: center;
		border-radius: 50%;
		height: 88vh;
		width: 88vh;

		/* margin-top: 50px;
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100vw;
		overflow-y: scroll;
		align-items: center; */
	}
	.program-bookmark::-webkit-scrollbar {
		/* color: red; */
		display: none;
	}
	.program-header {
		background-color: rgba(89, 45, 106, 0.484);
		width: fit-content;
		align-self: center;
		border-radius: 50px;
		padding: 5px 20px 5px 20px;

		color: #d1a926;
		font-size: 450%;
		margin-top: 20px;
		/* margin-bottom: 40px; */
		font-weight: 600;
		text-align: center;

		display: none;
	}
	.program-content {
		display: flex;
		flex-direction: column;
		align-items: center;

		padding-top: 10%;
		padding-bottom: 15%;

		height: 88vh;
		width: 80vh;
		max-width: 80vw;

		overflow-x: hidden;
		overflow-y: scroll;

		font-family: "SitkaSmall_italic1";

		/* display: flex;
		flex-direction: column;
		align-items: center; */

		/*padding-top: 20px;
		margin-bottom: 150px;*/
		/* width: fit-content; */
		/*width: 100vw;
		height: inherit;*/

		/* padding-top: 5%;
		padding-bottom: 10%;
		margin-bottom: 1%;
		border-radius: 50%;
		height: 75%;
		aspect-ratio: 1.25 / 1; */

		/* overflow-x: hidden;
		overflow-y: scroll;

		font-family: "SitkaSmall_italic1"; */
	}
	.program-content::-webkit-scrollbar {
		/* color: red; */
		display: none;
	}

	.program-content > li {
		margin: 20px 0px 10px 0px;
		list-style: none;
		display: grid;
		grid-template-columns: 45vw 55vw;
		text-decoration: none;
		color: #3b3685;
		font-weight: 900;
		font-size: 2em;
	}

	.program-time {
		text-align: right;
		padding-right: 40px;
	}

	.program-part {
		max-width: 400px;
	}

	.divider {
		justify-content: center;
		filter: saturate(20);
	}

	.divider > img {
		width: 400px;
	}

	/* TIPS */
	.tips-bookmark {
		display: flex;
		flex-direction: column;
		align-items: center;

		position: center;

		overflow-x: hidden;
		overflow-y: scroll;
		align-items: center;
		border-radius: 50%;
		height: 88vh;
		width: 88vh;

		justify-content: center;
	}
	.tips-bookmark::-webkit-scrollbar {
		display: none;
	}
	.tips-header {
		background-color: rgba(89, 45, 106, 0.484);
		width: fit-content;
		align-self: center;
		border-radius: 50px;
		padding: 5px 20px 5px 20px;

		color: #d1a926;
		font-size: 450%;
		margin-top: 20px;
		font-weight: 600;
		text-align: center;
		display: none;
	}
	.tips-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;

		padding-top: 10%;
		padding-bottom: 15%;

		height: 88vh;
		width: 80vh;
		max-width: 80vw;

		overflow-x: hidden;
		overflow-y: scroll;

		font-family: "SitkaSmall_italic1";
		font-size: 200%;
	}
	.tips-content::-webkit-scrollbar {
		/* color: red; */
		display: none;
	}
}
