@media only screen and (max-width: 1080px) /*(orientation: portrait) */ {
	html,
	body {
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	/* cover menu for mobile */
	.menu-button-container {
		position: absolute;
		visibility: visible;
	}

	/* setup for body */
	body {
		padding: 0;
		margin: 0;
		overflow: hidden;
		/* background-color: #183263da; */
		font-family: "SitkaSmall_italic1";
		position: relative;
	}

	/**********MENUICON AND NAVBAR**********/
	.menu-button-container {
		z-index: 20;
		visibility: visible;
		display: inline;
		margin-left: 0px;
		width: 60px;
		transition: 0.3s ease-in;
	}

	.menu-icon {
		background-color: #161664;
		padding: 10px;
		margin-left: 10px;
		display: flex;
		cursor: pointer;
		float: right;
		width: 40px;
		transition: 0.3s ease-in;
	}

	.navbar {
		z-index: 20;

		display: grid;
		justify-content: center;
		width: 50%;
		/* max-width: 280px; */
		transform: translateX(-100%);
		overflow: hidden;
		height: 100vh;
		position: absolute;
		background-color: #161664;
		transition: 0.3s ease-in;
	}

	.navbar > ul {
		margin-top: 7vh;
		display: grid;
		padding-left: 0;
		grid-auto-flow: row;
		row-gap: 1em;
		list-style: none;
		justify-content: center;
		align-items: center;
		grid-auto-rows: max-content;
	}

	.navbar > ul > li {
		font-family: "SitkaSmall_italic1";
		font-size: 1.5em;
		color: rgb(255, 255, 255);
		font-weight: bolder;
		border: 1px solid rgb(255, 255, 255);
		border-radius: 10px;

		margin: 0 10px 0px 10px;
		padding: 5px 10px 5px 10px;
		justify-content: center;
		align-items: center;
		list-style: none;
		transition: ease 0.2s;
		cursor: pointer;
	}

	.design-line {
		visibility: hidden;
	}

	.navbar > ul > li:hover {
		margin: 0 10px 0px 10px;
		color: cadetblue;
	}

	.navbar-li-selected {
		margin: 0 20px 0 20px;
		color: cadetblue;
	}
	/******************************/

	/**********BACKGROUND AND BODY**********/

	.background-container {
		display: flex;
		z-index: -10;
		position: absolute;

		background-image: url("./../res/bg5.png");
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		height: 800px;

		min-height: 400px;
		overflow: hidden;
		background-size: 1100px 450px;
		transform: translateY(-10vh);
	}

	.bg-container2 {
		display: inline;
		flex-direction: row-reverse;
		z-index: -11;
		position: absolute;

		bottom: 0;
		right: 0;
		overflow: hidden;
		transform: translateY(12px);
	}

	.bg-container2 > img {
		transform: translateX(180px);
		height: 300px;
	}

	.mainpage-container {
		width: 100%;
		display: grid;
		height: 100vh;
		overflow: hidden;
		/* overflow-x: hidden;
		overflow-y: scroll; */
		background-color: #7777773b;
	}

	.mainpage-body {
		justify-content: center;
		display: grid;
		align-items: center;
		z-index: 3;
		width: 100vw;
		/*  */
		grid-template-columns: repeat(1, 90%);
		grid-template-rows: repeat(2, 50%);
	}

	/* logo part */
	.mainpage-ot-logo {
		display: flex;
		height: 100%;
		width: 100%;
		flex-direction: column-reverse;
		justify-content: center;

		align-items: center;
		animation: 1s ease-out 0s 1 slideFromBottom;
		/*  */
		margin-top: 20%;
	}

	.mainpage-ot-logo > img {
		float: right;
		width: 70vw;
		max-width: 610px;
		min-width: 350px;
	}

	/* timer part */
	.timer-container {
		display: flex;
		height: 100%;
		width: 100%;
		flex-direction: column-reverse;
		justify-content: center;

		align-items: center;
		text-align: center;

		animation: 1s ease-out 0s 1 slideFromTop;
		/*  */
		margin-top: 10%;
	}

	.timer-heading {
		/* font-size: 4em;
		color: #204486; */
		font-weight: bolder;
		/*  */
		font-size: 3em;
		color: #204486;
	}

	.mainpage-remaining-time {
		/* font-weight: 700;
		font-size: 100px;

		color: #d1a431;
		flex-direction: column;
		text-align: center;

		padding-bottom: 10vh; */
		/*  */
		font-weight: 700;
		font-size: 3em;

		color: #d1a431;
		flex-direction: column;
		text-align: center;

		padding-bottom: 10vh;
	}

	/*********************************************/
	/**************** BOOKMARK'S CONTENT ********************/
	/*********************************************/

	.content-container {
		display: grid;
		justify-content: center;
		justify-self: center;
		align-items: center;

		height: 100%;
		width: 100%;

		background-color: rgba(240, 248, 255, 0.199);
		background-image: url(./../res/circlever_wbg.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100vh;
	}

	/* REGISTER SENT OK POPUP */
	.claim-sent-ok {
		/* this is for centering, not best but working ... */
		left: calc(50vw - 30vw);
		position: absolute;
		margin-top: 20px;
		width: 75vw;
		max-width: 500px;
		height: 90px;
		z-index: 20;

		border-radius: 20px;
		background-color: #204486;

		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		vertical-align: middle;

		font-size: 150%;
		color: white;
		transform: translateY(-50vh);
		transition: ease 0.5s;
	}
	.claim-sent-ok > img {
		margin-left: 20px;
	}

	/* REGISTER POPUP */
	.register-popup-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: rgba(163, 160, 157, 0.201);

		z-index: 20;
		display: grid;
		justify-content: center;
		align-items: center;
	}

	@keyframes showPopup {
		0% {
			transform: translateY(-50vh);
			opacity: 0%;
		}
		50% {
			transform: translateY(0);
		}
		100% {
			opacity: 100%;
		}
	}

	.register-popup-bg {
		display: grid;
		width: 60vw;
		max-width: 250px;
		padding: 10px;
		height: 60vh;
		max-height: 400px;
		background-color: #204486;
		overflow-x: hidden;
		overflow-y: scroll;
		border-radius: 15px;
		animation: ease-in 1s 1 showPopup;
	}

	.register-text {
		text-align: center;
		font-family: "Sitkasmall_italic1";
		font-size: 200%;
		color: white;
		display: grid;
		justify-self: center;
		padding-top: 5px;
		/* overflow-y: scroll; */
	}
	.register-popup-bg > input[type="button"] {
		border-radius: 10px;
		margin: 5px 10px 5px 10px;
		cursor: pointer;
		color: white;
		font-weight: 900;
		font-size: 120%;
		font-family: "Sitkasmall_italic1";
	}
	.register-popup-bg > input[type="button"]:nth-child(2) {
		background-color: rgb(125, 94, 161);
	}
	.register-popup-bg > input[type="button"]:nth-child(2):hover {
		background-color: rgb(124, 70, 186);
		transition: ease-out 0.1s;
	}

	.register-popup-bg > input[type="button"]:last-child {
		background-color: rgba(120, 126, 166, 0.435);
	}
	.register-popup-bg > input[type="button"]:last-child:hover {
		background-color: rgba(84, 92, 146, 0.435);
		transition: ease-out 0.1s;
	}

	/* INFO */
	.info-bookmark {
		display: flex;
		flex-direction: column;

		position: center;

		overflow-x: hidden;
		overflow-y: scroll;
		align-items: center;

		border-radius: 50%;
		height: 88vh;
		width: 88vh;
	}
	.info-header {
		margin-top: 10%;
	}
	.info-content {
		display: flex;
		flex-direction: column;
		align-items: center;

		padding-top: 5%;
		padding-bottom: 11%;

		width: 90vw;
		height: inherit;

		overflow-x: hidden;
		overflow-y: scroll;

		font-family: "SitkaSmall_italic1";
	}
	.info-content::-webkit-scrollbar {
		/* color: red; */
		display: none;
	}

	.info-navbar {
		margin-top: 3%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-bottom: 4%;
	}
	.info-navbar > input[type="button"] {
		transition: ease-out 0.2s;
		background-color: #1c325a;
		color: white;
		border-radius: 1.5em;
		padding: 5px 0.3em 5px 0.3em;
		margin-top: 10px;
		font-size: 200%;
		border: none;
		font-weight: bold;
		font-family: "Sitkasmall_italic1";
		cursor: pointer;
		margin: 0 0.5em 0 0.5em;
	}
	.info-navbar > input[type="button"]:hover {
		background-color: #496394;
	}
	.info-navbar > .btn-active {
		background-color: #d1a431 !important;
	}

	.info-text-container {
		margin: 0px 0px 0px 0px;
		display: grid;
		text-align: center;
		align-items: center;
		justify-content: center;

		overflow-wrap: anywhere;
		font-size: 200%;
	}
	.info-text-container > ul {
		margin: 0;
		padding: 0;
	}
	.info-text-container li {
		list-style: none;
	}
	.info-text-container li:first-child {
		margin-bottom: 4%;
	}
	.info-text-container .info-heading {
		font-weight: 900;
	}

	iframe {
		margin-top: 5%;
		width: 100%;
		height: 10em;
	}

	/*ABOUT*/
	.about-bookmark {
		display: flex;
		flex-direction: column;

		position: center;

		overflow-x: hidden;
		overflow-y: scroll;
		align-items: center;

		border-radius: 50%;
		height: 88vh;
		width: 88vh;
	}
	.about-bookmark::-webkit-scrollbar {
		/* color: red; */
		display: none;
	}
	.about-header {
		color: #d1a926;
		font-size: 300%;
		margin-top: 7%;
		font-weight: 600;
		text-align: center;
	}
	.about-content {
		display: flex;
		flex-direction: column;
		align-items: center;

		padding-top: 5%;
		padding-bottom: 11%;

		width: 90vw;
		height: inherit;

		overflow-x: hidden;
		overflow-y: scroll;

		font-family: "SitkaSmall_italic1";
	}
	.about-content::-webkit-scrollbar {
		/* color: red; */
		display: none;
	}
	.about-content > .content-text {
		font-size: 180%;
		text-align: center;
		width: inherit;
		font-weight: 900;

		max-width: 80vw;

		padding-bottom: 10px;
	}

	.radio-container {
		justify-self: baseline;
	}
	.answer-buttons-box {
		width: 80vw;
		display: grid;
		position: relative;
	}
	.question {
		display: grid;
		text-align: center;
	}

	/* GIFTS */
	.gifts-bookmark {
		display: flex;
		flex-direction: column;

		position: center;

		overflow-x: hidden;
		overflow-y: scroll;
		align-items: center;

		border-radius: 50%;
		height: 88vh;
		width: 88vh;
	}
	.gifts-header {
		color: #d1a926;
		font-size: 300%;
		margin-top: 7%;
		font-weight: 600;
		text-align: center;
	}
	.gifts-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

		padding-top: 5%;
		padding-bottom: 11%;

		width: 90vw;
		height: inherit;

		overflow-x: hidden;
		overflow-y: scroll;

		font-family: "SitkaSmall_italic1";
		font-size: 200%;
	}
	.gifts-content::-webkit-scrollbar {
		/* color: red; */
		display: none;
	}

	.gifts-link > a {
		display: flex;
		font-size: 100%;
		background-color: #d1a43194;
		padding: 5px 20px 5px 20px;
		border-radius: 15px;
		text-decoration: none;
		color: black;
	}
	.gifts-link img {
		max-height: 40px;
		margin-right: 10px;
	}
	.gifts-content > .cite {
		margin: 20px;
		font-size: 60%;
		color: grey;
	}

	/* CLAIM */
	.claim-bookmark {
		display: flex;
		flex-direction: column;

		position: center;

		overflow-x: hidden;
		overflow-y: scroll;
		align-items: center;

		border-radius: 50%;
		height: 88vh;
		width: 88vh;
	}
	.claim-header {
		color: #d1a926;
		font-size: 300%;
		margin-top: 7%;
		/* margin-bottom: 20px; */
		font-weight: 600;
		text-align: center;
	}
	.claim-content {
		display: flex;
		flex-direction: column;
		align-items: center;

		padding-top: 5%;
		padding-bottom: 11%;

		width: 90vw;
		height: inherit;

		overflow-x: hidden;
		overflow-y: scroll;

		font-family: "SitkaSmall_italic1";
	}
	.claim-content::-webkit-scrollbar {
		/* color: red; */
		display: none;
	}
	.claim-content > .content-text {
		font-size: 180%;
		text-align: center;
		width: inherit;
		max-width: 80vw;
		font-weight: 900;
		padding-bottom: 10px;
	}

	/* suplement for radio button box from question cards, which is used here */
	.form-field > .radio-container {
		margin-bottom: 0px;
		font-size: 70%;
	}
	.form-field > label {
		margin-right: 10px;
		font-size: 25px;
	}
	.form-field {
		margin: 10px;
		font-size: 200%;
		display: flex;
		flex-direction: column;
		justify-content: left;
		align-items: start;
	}

	.form-field > input[type="text"] {
		font-size: 70%;
		font-family: "Sitkasmall_italic1";
		border: 0px;
		width: 80vw;
		max-width: 500px;
		text-align: left;
		border-radius: 10px;
		padding: 5px;
		background-color: rgb(255, 255, 255);
		border: 2px solid #3b3685;
		outline: unset;
	}
	.form-field > input:focus {
		border-bottom: 3px solid #e6c439;
	}

	.submit-btn-container {
		margin-top: 30px;
		display: grid;
		justify-content: center;
		align-content: center;
	}
	.submit-btn-container > .submit-btn {
		transition: ease-out 0.2s;
		background-color: #1c325a;
		color: white;
		border-radius: 1.5em;
		padding: 5px 0.3em 5px 0.3em;
		margin-top: 10px;
		font-size: 200%;
		border: none;
		font-weight: bold;
		font-family: "Sitkasmall_italic1";
		cursor: pointer;
		margin: 0 0.5em 0 0.5em;
	}
	.submit-btn:hover {
		background-color: #496394;
		color: white;
	}

	/*PROGRAM*/
	.program-bookmark {
		display: flex;
		flex-direction: column;

		position: center;

		overflow-x: hidden;
		overflow-y: scroll;
		align-items: center;

		border-radius: 50%;
		height: 88vh;
		width: 88vh;
	}

	.program-header {
		color: #d1a926;
		font-size: 300%;
		margin-top: 7%;
		font-weight: 600;
		text-align: center;
	}

	.program-content {
		display: flex;
		flex-direction: column;
		align-items: center;

		padding-top: 5%;
		padding-bottom: 11%;

		width: 90vw;
		height: inherit;

		overflow-x: hidden;
		overflow-y: scroll;

		font-family: "SitkaSmall_italic1";
	}

	.program-content::-webkit-scrollbar {
		/* color: red; */
		display: none;
	}

	.program-content > li {
		margin: 20px 0px 10px 0px;
		list-style: none;
		display: grid;
		grid-template-columns: 25vw 65vw;
		text-decoration: none;
		color: #3b3685;
		font-weight: 900;
		font-size: 2em;
	}

	.program-time {
		text-align: right;
		padding-right: 40px;
	}

	.divider {
		justify-content: center;
	}

	.divider > img {
		width: 300px;
	}

	/* TIPS */
	.tips-bookmark {
		display: flex;
		flex-direction: column;

		position: center;

		overflow-x: hidden;
		overflow-y: scroll;
		align-items: center;

		border-radius: 50%;
		height: 88vh;
		width: 88vh;
	}
	.tips-header {
		color: #d1a926;
		font-size: 300%;
		margin-top: 7%;
		font-weight: 600;
		text-align: center;
	}
	.tips-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

		padding-top: 5%;

		padding-bottom: 11%;
		width: 90vw;

		height: inherit;

		overflow-x: hidden;
		overflow-y: scroll;

		font-family: "SitkaSmall_italic1";
		font-size: 200%;
	}
	.tips-content::-webkit-scrollbar {
		display: none;
	}

	.tips-text-container {
		margin: 0px 0px 0px 0px;
		display: grid;
		text-align: center;
		align-items: center;
		justify-content: center;

		overflow-wrap: anywhere;
		font-size: 200%;
	}
}
