@media only screen and (max-width: 1080px) /*(orientation: portrait) */ {
	html,
	body {
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	/* cover menu for mobile */
	.menu-button-container {
		position: absolute;
		visibility: visible;
	}

	/* setup for body */
	body {
		padding: 0;
		margin: 0;
		overflow: hidden;
		/* background-color: #183263da; */
		font-family: "SitkaSmall_italic1";
	}

	/**********MENUICON AND NAVBAR**********/
	.menu-button-container {
		z-index: 20;
		visibility: visible;
		display: inline;
		margin-left: 0px;
		width: 60px;
		transition: 0.3s ease-in;
	}

	.menu-icon {
		background-color: #161664;
		padding: 10px;
		margin-left: 10px;
		display: flex;
		cursor: pointer;
		float: right;
		width: 40px;
		transition: 0.3s ease-in;
	}

	.navbar {
		z-index: 20;

		display: grid;
		justify-content: center;
		width: 50%;
		/* max-width: 280px; */
		transform: translateX(-100%);
		overflow: hidden;
		height: 100vh;
		position: absolute;
		background-color: #161664;
		transition: 0.3s ease-in;
	}

	.navbar > ul {
		margin-top: 7vh;
		display: grid;
		padding-left: 0;
		grid-auto-flow: row;
		row-gap: 1em;
		list-style: none;
		justify-content: center;
		align-items: center;
		grid-auto-rows: max-content;
	}

	.navbar > ul > li {
		font-family: "SitkaSmall_italic1";
		font-size: 1.5em;
		color: rgb(255, 255, 255);
		font-weight: bolder;
		border: 1px solid rgb(255, 255, 255);
		border-radius: 10px;

		margin: 0 10px 0px 10px;
		padding: 5px 10px 5px 10px;
		justify-content: center;
		align-items: center;
		list-style: none;
		transition: ease 0.2s;
		cursor: pointer;
	}

	.design-line {
		visibility: hidden;
	}

	.navbar > ul > li:hover {
		margin: 0 10px 0px 10px;
		color: cadetblue;
	}

	.navbar-li-selected {
		margin: 0 20px 0 20px;
		color: cadetblue;
	}
	/******************************/

	/**********BACKGROUND AND BODY**********/

	.background-container {
		display: flex;
		z-index: -10;
		position: absolute;

		background-image: url("./../res/bg5.png");
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		height: 800px;

		min-height: 400px;
		overflow: hidden;
		background-size: 1100px 450px;
		transform: translateY(-10vh);
	}

	.bg-container2 {
		display: inline;
		flex-direction: row-reverse;
		z-index: -11;
		position: absolute;

		bottom: 0;
		right: 0;
		overflow: hidden;
		transform: translateY(12px);
	}

	.bg-container2 > img {
		transform: translateX(300px);
	}

	.mainpage-container {
		width: 100%;
		display: grid;
		height: 100vh;
		overflow: hidden;
		background-color: #7777773b;
	}

	.mainpage-body {
		justify-content: center;
		display: grid;
		grid-template-columns: repeat(2, 50%);
		align-items: center;
		z-index: 3;
		width: 100vw;
		/*  */
		grid-template-columns: repeat(1, 50%);
		grid-template-rows: repeat(2, 50%);
	}

	/* logo part */
	.mainpage-ot-logo {
		display: flex;
		height: 100%;
		width: 100%;
		flex-direction: column-reverse;
		justify-content: center;

		align-items: center;
		animation: 1s ease-out 0s 1 slideFromBottom;
		/*  */
		margin-top: 40%;
	}

	.mainpage-ot-logo > img {
		float: right;
		width: 70vw;
		max-width: 610px;
		min-width: 350px;
	}

	/* timer part */
	.timer-container {
		display: flex;
		height: 100%;
		width: 100%;
		flex-direction: column-reverse;
		justify-content: center;

		align-items: center;
		text-align: center;

		animation: 1s ease-out 0s 1 slideFromTop;
		/*  */
		margin-top: 10%;
	}

	.timer-heading {
		font-size: 4em;
		color: #204486;
		font-weight: bolder;
		/*  */
		font-size: 3em;
		color: #204486;
	}

	.mainpage-remaining-time {
		font-weight: 700;
		font-size: 100px;

		color: #d1a431;
		flex-direction: column;
		text-align: center;

		padding-bottom: 10vh;
		/*  */
		font-weight: 700;
		font-size: 3em;

		color: #d1a431;
		flex-direction: column;
		text-align: center;

		padding-bottom: 10vh;
	}

	/*********************************************/
	/**************** BOOKMARK'S CONTENT ********************/
	/*********************************************/

	.content-container {
		display: grid;
		justify-content: center;
		justify-self: center;
		align-items: center;

		height: 100%;
		width: 100%;

		background-color: rgba(240, 248, 255, 0.199);
		background-image: url(./../res/circlever_wbg.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 920px;
	}

	/*ABOUT*/
	.about-content {
	}

	/* GIFTS */
	.gifts-content {
	}

	/* CLAIM */
	.claim-content {
	}

	/*PROGRAM*/
	.program-bookmark {
		margin-top: 20px;
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100vw;
		overflow-y: scroll;
	}

	.program-header {
		color: #d1a926;
		font-size: 250%;
		/* margin-bottom: 40px; */
		font-weight: 600;
		text-align: center;
	}

	.program-content {
		display: flex;
		flex-direction: column;
		align-items: center;

		margin-top: 20px;
		margin-bottom: 20px;
		width: 100vw;
		height: inherit;

		overflow-x: hidden;
		overflow-y: scroll;

		font-family: "SitkaSmall_italic1";
	}

	.program-content::-webkit-scrollbar {
		/* color: red; */
		display: none;
	}

	.program-content > li {
		margin: 20px 0px 10px 0px;
		list-style: none;
		display: grid;
		grid-template-columns: 50vw 50vw;
		text-decoration: none;
		color: #3b3685;
		font-weight: 900;
		font-size: 2em;
	}

	.program-time {
		text-align: right;
		padding-right: 40px;
	}

	.divider {
		justify-content: center;
	}

	.divider > img {
		width: 300px;
	}
}
