body {
  padding: 0;
  margin: 0;
}

/***************************************************/
/******************* navbar design *********************/
/***************************************************/

.navbar {
  background-color: rgb(22, 22, 100);
  display: grid;
  justify-content: center;
}

.navbar > ul {
  display: grid;
  padding-left: 0;
  grid-auto-flow: column;
  list-style: none;
  justify-content: center;
  align-items: center;
  grid-auto-columns: max-content;
}

.navbar > ul > li {
  font-family: "SitkaSmall_italic1";
  font-size: 1.5em;
  color: rgb(253, 253, 253);
  font-weight: bolder;
  border: 1px solid rgb(255, 255, 255);

  margin: 0 10px 0px 10px;
  padding: 5px 10px 5px 10px;
  justify-content: center;
  align-items: center;
  list-style: none;
  transition: ease 0.2s;
  cursor: pointer;
}

.navbar > ul > li:hover {
  /* margin: 0 20px 0 20px; */
  color: cadetblue;
}

.navbar-li-selected {
  margin: 0 20px 0 20px;
  color: cadetblue;
}

.design-line {
  justify-self: center;
  border: 1px solid rgb(73, 34, 34);
  width: 100%;
}

/***************************************************/
/******************* main page *********************/
/***************************************************/

.background-container {
  display: flex;
  justify-content: center;
  z-index: -10;
  position: absolute;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background-container > img {
  width: 900px;
  transform: rotateZ(-45deg) scale(2);
}

.mainpage-container {
  display: flex;
  justify-content: center;
  height: 90vh;
}

.mainpage-body {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 50vh);
  align-items: center;
  /* width: 100vh; */
}

@keyframes slideFromBottom {
  0% {
    transform: translateY(200vh);
  }
  100% {
    transform: translateY(0);
  }
}

.mainpage-ot-logo {
  /* margin-top:1.5em; */
  display: flex;
  /* flex-direction: column; */
  align-items: end;
  animation: 1s ease-out 0s 1 slideFromBottom;
}

.timer-container {
  grid-column-start: 3;
  animation: 1s ease-out 0s 1 slideFromBottom;
  flex-direction: column;
  display: flex;
  align-items: center;
  text-align: center;
}

.mainpage-remaining-time {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
  font-size: xx-large;
  float: right;
  color: rgb(7, 7, 7);
  font-size: 3em;
  flex-direction: column;
  align-items: start;
  text-align: center;
}

@keyframes slideFromTop {
  0% {
    transform: translate(-300%, -100%) rotate(45deg);
  }
  100% {
    transform: translate(0, 0) rotate(45deg);
  }
}

/* .mainpage-part-line {
  border: 2px solid rgb(37, 58, 77);
  justify-self: center;
  /* height:200px; */
/* height: 60%; */
/* transform: rotate(45deg); */
/* float: right; */
/*animation: 1s ease-out slideFromTop;*/
/*} */
